version: '3.8'

services:
  mysql:
    image: mysql:latest
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "123456"
    ports:
      - "3306:3306"
    volumes:
      - /mnt/d/programing/aurora/aurora.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - custom-network

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    command: redis-server --requirepass 123456
    ports:
      - "6379:6379"
    networks:
      - custom-network

  rabbitmq:
    image: rabbitmq:management
    container_name: rabbit
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - custom-network

  elasticsearch:
    image: elasticsearch:7.9.2
    container_name: elasticsearch
    restart: always
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms64m -Xmx128m
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - custom-network
    volumes:
      - /mnt/d/programing/docker/elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - /mnt/d/programing/docker/elasticsearch/data:/usr/share/elasticsearch/data
      - /mnt/d/programing/docker/elasticsearch/plugins:/usr/share/elasticsearch/plugins

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    environment:
      MINIO_ROOT_USER: "minioadmin"
      MINIO_ROOT_PASSWORD: "minioadmin"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - /mnt/d/programing/minio/data:/data
      - /mnt/d/programing/minio/config:/root/.minio
    command: 
      server /data --console-address ":9001"
    networks:
      - custom-network

  aurora:
    container_name: aurora
    build: .
    restart: always
    networks:
      - custom-network
    ports:
      - "8080:8080"
      - "5005:5005"
      - "8081:8081"

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "8888:8888"
    volumes:
      - /mnt/d/programing/aurora/nginx/nginx.conf:/etc/nginx/nginx.conf
      - /mnt/d/programing/aurora/release/vue:/usr/local/vue 
    networks:
      - custom-network
networks:
  custom-network:
    driver: bridge